@import "bootstrap/bootstrap.less";
@import "site_variables";

.mine-box{
  background-color: @mine-box-background-color;
  box-sizing: border-box;
  border: 3px solid @mine-box-border-color;
  float: left;
  cursor: pointer;
  min-height: 100px;
  &:hover {
    background-color: @mine-box-border-color-hover;
  }
  &:active {
    background-color: @mine-box-border-color;
  }
}

.safe-mine-box-selected {
  &:extend(.mine-box);
  background-color: #65ff37;
}

.dangerous-mine-box-selected {
  &:extend(.mine-box);
  background-color: #ff0000;
}
